@keyframes fadeScaleIn-9e6f217e{0%{opacity:0;transform:scale(.8)}to{opacity:1;transform:scale(1)}}.logo-animation[data-v-9e6f217e]{width:512px;height:512px;animation:fadeScaleIn-9e6f217e 1s ease-out}
